/* POST ========================================== */

/* HEADER ======================================================== */
/* CONTENT ======================================================= */

/* FOOTER ======================================================== */

#footer a {
  color: white;
}
#footer a:hover {
  color: #007bff;
  text-decoration: none;
}
#footer .isocialList {
  list-style-type: none;
  font-size: 2rem;

  display: flex;
}
#footer .isocialList__item:not(:last-child) {
  margin-right: 1rem;
  /* background-color: red; */
}

#footer .contactList {
  list-style-type: none;
  line-height: 1.8;
}
